<h1 class="title">Welcome To E-Learning 📚</h1>
<p class="intro">
	E-Learning is a free online learning platform.<br>
	Want to advance your skills??<br>
	Join us today!
</p>
{{#if user}}
{{else}}
<a class="button" href="/users/register">Sign Up Free</a>
<P>You need to signup to register for free classes</p>
{{/if}}