<h2>Classes</h2>
<section class="class-card-container">
	{{#each classes}}
	<div class="class-card">
		<h3>{{title}}</h3>
		<p>
			{{description}}
		</p>
		{{!-- <p>Instructor: <strong>Prof. {{instructor}}</strong></p> --}}
		<a class="button" href="/classes/{{_id}}/details">Class Details</a>
	</div>
	{{/each}}
</section>